<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>City</title>
	</head>
	<body>
	  <h2>City</h2>
	  
	  <table th:object="${cityInfo}">
	   <tr>
	     <td>ID</td>
	     <td th:text="${cityInfo.id}"></td>
	   </tr>
     <tr>
       <td>Name</td>
       <td th:text="${cityInfo.name}"></td>
     </tr>
     <tr>
       <td>Country Code</td>
       <td th:text="${cityInfo.countryCode}"></td>
     </tr>
     <tr>
       <td>Country Name</td>
       <td th:text="${cityInfo.countryName}"></td>
     </tr>
     <tr>
       <td>District</td>
       <td th:text="${cityInfo.district}"></td>
     </tr>
     <tr>
       <td>Population</td>
       <td th:text="${cityInfo.population}"></td>
     </tr>
     <tr>
       <td>Local Weather</td>
       <td th:text="${cityInfo.temp}"></td>
     </tr>
     <tr>
       <td>Local Time</td>
       <td th:text="${cityInfo.time}"></td>
     </tr>
	  </table><br><br>
	  
	  <form action="#" th:action="@{/cities/reservation}" method="post">
	  	For a fabulous weekend get away for 2 to 
	  			<span th:text="${cityInfo.name}">City</span> sign up here.<br><br>
	  	<input type="hidden" th:name="city" th:value="${cityInfo.name}">
	  	<label for="email">Email</label>
	  	<input type="email" th:name="email" id="email"><br><br>
	  	<input type="radio" th:name="level" th:value="luxury" id="luxury" name="level">
	  	<label for="luxury">Luxury $1000</label><br><br>
	  	<input type="radio" th:name="level" th:value="very_good" id="very_good" name="level">
	  	<label for="very_good">Very Good $500</label><br><br>
	  	<input type="radio" th:name="level" th:value="good" id="good" name="level">
	  	<label for="good">Good $350</label><br><br>
	  	<input type="submit" value="Submit">
	  </form>
  </body>
</html>